[Unit]
Description=setup docker things that are necessary to run the server
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /.pickcel/scripts/docker.sh

[Install]
WantedBy=multi-user.target